# {{ ansible_managed }}

check system {{ ansible_fqdn }}
    if loadavg (5min) > {{ ansible_processor_vcpus }} then alert
    if memory usage > 75% then alert
    if swap usage > 25% then alert
    if cpu usage (user) > 70% then alert
    if cpu usage (system) > 30% then alert
    if cpu usage (wait) > 20% then alert
    group system


{% for fs in ansible_mounts %}

check filesystem {{ fs.mount | replace('/', '', 1) | replace('/', '_') | regex_replace('^$', 'root') }} with path {{ fs.device }}
    if space usage > 85% then alert
    if inode usage > 90% then alert
    group system

{% endfor %}
