#jinja2: trim_blocks: "true", lstrip_blocks: "true"
# {{ ansible_managed }}

{% if dnsmasq_host_domain is defined -%}
domain {{ dnsmasq_host_domain }}
{% endif -%}
{% if dnsmasq_host_search is defined -%}
search {{ dnsmasq_host_search }}
{% endif -%}
{% for ns in dnsmasq_host_resolvers -%}
nameserver {{ ns }}
{% endfor %}

